#navBar {
    list-style-type: none;
    margin: 0px;
    padding 0px;
    display: inline-block;
}

.blocks {
    float:left;
    border-radius: 10px;
    font-size: 25px;
    
}


#eventHome {
    background-color: #96ceb4;
    padding: 10px;
}

#fiveK {
    background-color: #ffeead;
    padding: 10px;
}

#halfMarathon {
    background-color: #88d8b0;
    padding: 10px;
}

#marathon {
    background-color:#ffcc5c;
    padding: 10px;
}
a {
    padding: 10px;
}

#socialMedia {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    background-color: #ADD8E6;
    height: px;
    border-radius: 5px;
    font-size: 25px;
}



#raceInfo {
    width: 90%;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    background-color:lightblue;
}